<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" media="print" onload="this.onload=null;this.media='all'" href="css/main.min.css?v=#{VERSION_REPlACE_MAIN_CSS}#">
<!-- <link rel="preload" as="style" href="css/main.min.css?v=#{VERSION_REPlACE_MAIN_CSS}#" onload="this.onload=null;this.rel='stylesheet'"> -->
<link rel="stylesheet" media="all" href="css-purge/main.min.css?v=#{VERSION_REPlACE_PURGE_CSS}#">
<link rel="shortcut icon" href="img/favicon.ico">
//= script-google-tag-manager.html